@import 'colors';
@import 'config';
@import 'reset';
//@import 'grids';
@import 'breakpoints';
@import 'mixins';
@import 'typo';


body{
    //background-image:
}
#wrapper{

    @include row();
    justify-content: center;
    padding:5%;
   

    div.title-b4{

        align-content:center;
        //background-color: chartreuse;
        margin-top: 10%;

        h1.before{
            @include h1-title-before();
            text-align: left;


        }
   .paragraph{
            width:50%;
            display: flex;
            @include body-copy();
        }
    }

    .button{
        display:flex;
        align-content:space-between;
        justify-content: space-evenly;
        width:55%;
        margin-top: 3%;

        button.open{

            @include buttonish();
        }

        a {
            @include links();
            display: block;
        }

    }
} 



