@import 'colors';
@import 'reset';
@import 'typo';



@mixin buttonish(){

    margin-top: 1em;
    padding: 1rem 2rem;
    cursor: pointer;
    background: $home-bg-temp;
    border: solid 1px $gradient-temp1;
    backdrop-filter: blur(20px);
    font-family: $b-type;
    font-weight: 200;
    font-size: 1rem;
    color:$li-ish;
    box-shadow: 0 0 0 1px rgba(216, 211, 211, 0.5);
    transition: all 0.16s ease-in;
    z-index:2;


    &:hover {
        background: none;
        top: -0.5px;
        box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, .12);
    }
    
    &:active {
        background: none;
        top: -0.5px;
        box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, .12);
        border:none;
      }
}



    .top-bar {
        display: flex;
        // min-height: 90px;
        background: transparent;
        color: $liH-ish;
        align-items: center;
        flex-wrap: wrap;
        justify-content:space-between;
        margin-top:2%;
      
        &__nav-toggle {
          margin: 0px 100px;
          display: inline-block;
          color: $liH-ish;
          background: transparent;
          border: none;
          cursor: pointer;
          font-size: 50px;
          min-width: 55px;
          text-align: center;
          transition: 0.25s;
          display:none;
      
          &:focus {
            outline: none;
            transform: scale(1.1);
          }
        }
      
        &__brand {

        @include nav-links();
          transition: 0.25s;
          padding-left:5%;
        }
      
        &__contact {
        @include nav-links();
          text-align: right;
          transition: 0.25s;
        }
      
        @media (max-width: 1000px) {
          &__nav-toggle {
            margin-right: 0;
            display:flex;
          }
      
          &__brand {
            flex: 1;
          }
          &__contact {
            display:none;
          }
      
        }
      
        @media (max-width: 700px) {
          &__nav-toggle {
            margin-left: 20px;
          }
          &__brand {
            margin-right: 20px;
          }
          &__contact {
            display:none;
          }
        }
      
        &__nav {
          width: 100%;
          background: $li-ish;
          transition: 0.25s;
          max-height: 400px;
          overflow: hidden;
      
          &.collapsed {
            max-height: 0;
            min-height: 0;
          }
        }
      
        &__nav-list {
          list-style: none;
          padding: 0;
      
          li {
            padding: 1rem;
            text-align: center;
          }
      
          a {
            color: $bg-ish;
            text-decoration: none;
            font-size: 1.6rem;
            display: inline-block;
            padding: 0.4rem;
            transition: 0.25s;
            border-bottom: 2px solid transparent;
      
            &:hover {
              transform: scale(1.2);
              filter: brightness(140%);
              border-bottom: 2px solid $red-ish;
            }
          }
        }
      }
      
      .hamburger {
        position: relative;
        height: 50px;
        
      
        span {
          width: 50px;
          height: 3px;
          position: absolute;
          background: $li-ish;
          transform: translate(-50%, -50%);
          left: 50%;
         
      
          &:nth-child(1) {
            top: 20%;
            transition: top 0.125s 0.25s, transform 0.125s;
          }
          &:nth-child(2) {
            top: 50%;
            transition: top 0.125s 0.25s, transform 0.125s;
          }
          &:nth-child(3) {
            top: 80%;
            transition: top 0.125s 0.25s, transform 0.125s;
          }
        }
      
        &.closed {
          span {
            &:nth-child(1) {
              top: 50%;
              transform: translate(-50%, -50%) rotate(45deg);
              transition: top 0.125s, transform 0.125s 0.25s;
            }
            &:nth-child(2) {
              top: 50%;
              transform: translate(-50%, -50%) rotate(-45deg);
              transition: top 0.125s, transform 0.125s 0.25s;
            }
            &:nth-child(3) {
              top: 50%;
              transform: translate(-50%, -50%) rotate(-45deg);
              transition: top 0.125s, transform 0.125s 0.25s;
            }
          }
        }
      }

      

      .cursor {
        left: 0;
        top: 0;
        width: 10px;
        height: 10px;
        background-color: #f44336;
        position: absolute;
        border-radius: 5px;
      }
      
      .cursor__follower {
        transition: transform .4s;
        width: 6px;
        height: 6px;
      }